<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base::headstuff"lang="en">
    <meta charset="UTF-8/">

    <title>add actors to movie</title>
</head>
<body>
<div class="container">
    <h1 class="text-center">About the movie Database</h1>
    <p>this application was developed for the java bootcamp october 2017.it has the following
    features:
    <ol>
    <li>Many to Many relationship b/n movies and actors </li>
    <li>a form to add actor actors to the database</li>
    <li>a form to add movies to database</li>
    <li>thymeleaf fragmnet,including</li>
    <ul>
        <li>a condition to display links only when actors have been entered into the database AND there are still some actor have been entered
            into database and there are still some actor the movie</li>
        <li>A navigation  bar that indicates wher in the application the user is</li>
    </ul>
    <li>a method has been added to Cloudinary configuration to transform image based on the featured actor's face.have a look at this code as well!</li>
you will be given the code of this application to type out.make sure you dont leave anything out!</ol></p>
</div>
</body>
</html>